In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.DataFrame(np.random.rand(10, 10))
data

          0         1         2  ...         7         8         9
0  0.506298  0.159869  0.227275  ...  0.638914  0.393127  0.286668
1  0.414754  0.644488  0.240047  ...  0.991162  0.781780  0.276196
2  0.167394  0.652881  0.037059  ...  0.972631  0.330660  0.088262
3  0.838835  0.242289  0.874376  ...  0.388873  0.246723  0.710988
4  0.139014  0.834841  0.180426  ...  0.747764  0.036286  0.032490
5  0.953273  0.794252  0.780787  ...  0.419403  0.899094  0.415204
6  0.234356  0.624192  0.005180  ...  0.624408  0.840849  0.430926
7  0.055194  0.388692  0.699114  ...  0.989709  0.124378  0.905814
8  0.285328  0.780834  0.548642  ...  0.183749  0.030268  0.948475
9  0.068099  0.378676  0.448116  ...  0.216474  0.801635  0.855457

[10 rows x 10 columns]

In [3]:
data[data > 0.5] = 1
data

          0         1         2  ...         7         8         9
0  1.000000  0.159869  0.227275  ...  1.000000  0.393127  0.286668
1  0.414754  1.000000  0.240047  ...  1.000000  1.000000  0.276196
2  0.167394  1.000000  0.037059  ...  1.000000  0.330660  0.088262
3  1.000000  0.242289  1.000000  ...  0.388873  0.246723  1.000000
4  0.139014  1.000000  0.180426  ...  1.000000  0.036286  0.032490
5  1.000000  1.000000  1.000000  ...  0.419403  1.000000  0.415204
6  0.234356  1.000000  0.005180  ...  1.000000  1.000000  0.430926
7  0.055194  0.388692  1.000000  ...  1.000000  0.124378  1.000000
8  0.285328  1.000000  1.000000  ...  0.183749  0.030268  1.000000
9  0.068099  0.378676  0.448116  ...  0.216474  1.000000  1.000000

[10 rows x 10 columns]

In [4]:
data.index = range(2, 12)
print(data.index)

RangeIndex(start=2, stop=12, step=1)

In [5]:
for i in data.index:
    print(i)

2
3
4
5
6
7
8
9
10
11

In [6]:
data.index.to_series()

2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
dtype: int64

In [7]:
data = pd.DataFrame(np.arange(0, 10))
data

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [8]:
print(data[data > 3].dropna())

     0
4  4.0
5  5.0
6  6.0
7  7.0
8  8.0
9  9.0